
@media screen and (max-width: 1000px) {

	#inscription{ 
		
		max-width: 75%;

	}
	
	#present {
		font-size: 1.2rem !important;
	}

	#btnFilm, #btnActu{
		width: 50%;
	}
	#don {
		
	}

	h1 {
		font-size: 2.5rem !important;
	}
	h2 {
		font-size: 2rem !important;
	}

	#maps {
		text-align: center;
	}
	#intro {
		font-size: 1.5rem;
	}
#titreInfos, #titreActus, #intro {
	margin-top: 17vw !important;
}

}

button.navbar-toggler{
	
	-webkit-appearance: button !important;
	background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=#FFC107');
	background-color: #FFC107 !important;
	padding: 0 .25rem 0 0.15rem;
}

#titreIndex{
	background-image: url(Images/openAir.jpg);
	background-size: cover;
    font-size: 2em;
    font-family: 'open sans ,serif ';
    
    min-height: 40vw;

}
#intro {
	
    background: border 1px solid #9DBCD7 ;
    background-color: #9DBCD7;
    border-radius:20px;
    min-height:20vw;
    margin-top: 8vw !important;
    box-shadow: 3px 3px 5px black;
    padding-top: 20px;
}


a.btn {
	font-weight: bold !important;
	font-size: 1.5rem !important;
}

a.nav-link {
	font-size: 1.3rem;
	font-family: 'baskervville, serif';
	 margin: 0 2vw 0 2vw;
	 text-align: center;
	 color: #FFC107;
}



#present {

	min-height: 10vw;
	font-size: 1.5em;
	text-align: center;

}
#inscription {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #9DBCD7;
	box-shadow: 3px 3px 5px black;
	

}

#titreFilms {
	background-color: #FFC107;
	font-weight: bold;
	text-align: center;
	font-size: 2.5rem;
	min-height: 30px;
	font-family: Baskervville, serif;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;

}

span {
	font-size: 1.5rem;

}
#titreInfos, #titreActus {
	margin-top: 8vw;
	margin-bottom: 2vw;
	padding: 20px 20px 20px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-weight: bold;
	background-color: #9DBCD7;
	box-shadow: 3px 3px 5px black;
}

#actus, #infos {
	background-image: url("Images/openAir.jpg");
    min-height: 1000px;
}


.img-card-top {
    
   
    object-fit: fill;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 2.9rem;
	min-height: 30px;
	background-color: #9DBCD7 ;
	font-family: Baskervville, serif;
}

h2  {
	font-weight: bold;
	font-size: 2.5rem;
}
h3 {
	font-weight: bold;
	font-size: 1.5rem;
}
button{
	border-radius: 15px;
}
body{
	font-family: Open Sans, serif;
}

.descr {
	margin-bottom: 2vw;
	min-height: 220px;

}
#don {
	min-width: 400px;
}

#map {
	width: 400px;
	height: 440px;
	margin-left: 5vw;
	margin-right: 5vw;
	box-shadow: 3px 3px 5px black;
}

.insText {
	font-size: 1.5em;
	color: #FFC107;
}
article {
	box-shadow: 3px 3px 5px black;
}

legend {
	font-weight: bold;
}

#envoyer{

	border-radius: 5px !important;
	background-color: #FFC107 !important;
}